*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@font-face{
    font-family:"Morris-Roman";
    src:url(MorrisRomanBlack.otf);
}
body{
    background-color:rgb(12, 30, 12);
}
.navigation_menu{/*greater container box for the navigation menu*/
    display:flex;
    background-color:rgb(18, 49, 11);
    border:2px solid;
    border-color:goldenrod;
}
.navigation_menu .one_side{/*container box for the left side of the navigation menu, used for most of the nav bar*/
flex:1 0 20%;
align-items:center;
}
.navigation_menu .one_side img {
    height:150px;
    width:150px;
}
.navigation_menu .other_side{/*container box for the right side of the navigation bar, where the sign-up, log-in, and (maybe) shopping cart icon will be*/
    flex-wrap:wrap;
    flex:0 1 80%;
}
.navigation_menu ul{
text-align:center;
list-style-type:none;
margin-left:40%;
}
.navigation_menu li{
    font-family:Morris-Roman;
    padding:8% 4%;
    color:goldenrod;
    display:inline-block;
    font-size:150%;
}
.navigation_menu li:hover{
    background-color:rgb(20, 75, 14);
    cursor:pointer;
    text-decoration:underline;
}
.dropdown{/*the container for the dropdown*/
    display:none;
    width:200px;
    height:fit-content;
    position:absolute;
    background-color:rgb(12, 35, 7);
}
.dropdown-content{/*the individual sections of the dropdown (Food, Alcoholic Beverages, Non-Alcoholic Drinks)*/
    height:fit-content;
    border-top:1px solid gold;
    border-bottom:1px solid gold;
    font-family:Morris-Roman;
    color:goldenrod;
    padding: 2% 0;
    display:flex;
}
.dropdown-content .text-area{/*stored with dropdown-content. Uses a span. Contains text.*/
    width:80%;
    flex-wrap:wrap;
    font-size:75%;
}
.dropdown-content .image-area{/*within dropdown-content. Utilizes a span. Holds the image.*/
    width:20%;
    flex-wrap:wrap;
}
.dropdown-content img{/*put within "dropdown-content" at the very end. Use "Dropdown Arrow."*/
    width:40%;
    height:80%;
}
.navigation_menu li:hover .dropdown{
    display:flex;
    flex-direction:column;
}
.dropdown-content:hover{
    background-color:rgb(15, 44, 12);
}
.navigation_menu a{
    color:goldenrod;
    padding: 1% 2%;
    font-family:Celtica-Bold;
    text-decoration:none;
}
.navigation_menu a:visited{
    color:goldenrod;
}
.navigation_menu a:hover{
    text-decoration:underline;
}
.navigation_menu a:active{
    color:goldenrod;
}
.display{/*the main container for the display*/
    border-top: 4px solid goldenrod;
    border-bottom: 4px solid goldenrod;
    height:400px;
    background-color:rgba(255, 255, 255, 0.5);
}
.display .arrow-container{/*the main class for the container of the display arrows*/
    margin:7% 0;
    height:200px;
    width:75px;
    display:flex;
    align-items:center;
}
.display .arrow-container.left{/*left variant for the arrow containers*/
    float:left;
}
.display .arrow-container.right{/*right variant for the arrow containers*/
    float:right;
}
.display .arrow-container:hover{
    background-color:rgba(255, 255, 255, 0.7);
    cursor:pointer;
}
.display .arrow-container img{
    height:80%;
    width:80%;
    opacity:50%;
}
.display .arrow-container:hover img{
    opacity:100%;
}
.log-in-area{/*the area that holds everything related to the log-in. Can be applied to a "body" or "div" container.*/
    display:flex;
    justify-content:center;
    align-items:center;
}
.log-in-box{/*what serves as the "background" of sorts for the log-in. Creates a small box that contains all the basic log-in stuff*/
    background-color:rgb(11, 75, 17);
    align-items:center;
    text-align:center;
    border:3px solid goldenrod;
    border-radius:10px;
    width:400px;
    height:275px;
}
.log-in-box h1{
    color:goldenrod;
    font-family:Morris-Roman;
    margin: 10px 0;
}
.log-in-box label{
    color:goldenrod;
    font-family:Morris-Roman;
}
.log-in-box input{
    width:125px;
    border:1px solid goldenrod;
    border-radius:5px;
    margin-bottom:15px;
}
.submit{/*the class for a submit button I created. May be reused for later things, such as the menu.*/
    padding:5px 2px;
    background-color:rgb(18, 92, 18);
    border:2px solid goldenrod;
    border-radius:5px;
    font-family:Morris-Roman;
    color:goldenrod;
}
.submit:hover{
    background-color:rgb(58, 141, 58);
    cursor:pointer;
}
.menu_item{/*the base slot for a menu item*/
    border: 2px solid black;
    border-radius:5px;
    height:fit-content;
    width:200px;
    padding: 2px 3px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    background-color:white;
}
.menu_item div{/*edited to be used as containers for information in the menu slots.*/
margin:2px 0;
}
.menu_item img{
    height:150px;
    width:150px;
    border:1px solid black;
}
.menu_item h3{
    font-family:Morris-Roman;
    text-decoration:underline;
}
.menu_item .title{/*used as a modifier for the "title" part of a segment of the menu slot*/
font-family:Morris-Roman;
}
footer{
    height:200px;
    background-image:linear-gradient(rgba(250,250,250,0.5),rgba(250,250,250,0.5)),url(The\ Lucky\ Shamrock\ Pub\ Banner\ 2.0.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    border-top:2px solid goldenrod;
    color:goldenrod;
    -webkit-text-stroke:1px black;
}
footer .icon{
    color:goldenrod;
    height:15px;
    width:15px;
}
.menu-box{/*basic container for the menu*/
display:flex;
justify-content:center;
}
.menu{
    background-color:white;
    display:flex;
    justify-content:space-evenly;
    width:80%;
}
/*I would recommend making heavy usage of the tester while trying to implement these features, as it will eliminate much of the confusion*/
.shopping-cart{/*container for all items of the shopping cart*/
    display:none;
    width:300px;
    height:fit-content;
    position:absolute;
    background-color:white;
    border-top:1px solid lightgrey;
    border-bottom:1px solid lightgray;
    font-size:75%;
    color:black;
    transform:translateX(-250px)
}
.navigation_menu li:hover .shopping-cart{
    display:flex;
    flex-direction:column;
}
.cart-area{/*This is the area that contains the actual objects being sold*/
    display:flex;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgrey;
    width:100%;
}
.shopping-cart-top{/*This is used to fix up the titles*/
    display:flex;
    width:100%;
}
.cart-item-title{/*actually has no relation to the "cart-item" class. It is used for the "Item" title at the top.*/
    width:50%;
    flex-wrap:wrap;
    text-align:center;
    font-family:Morris-Roman;
    text-decoration:underline;
}
.cart-item-other{/*Once again, this actually has nothing to do with "cart-item." It is used for the "Quantity" and "Price" titles at the top.*/
    width:25%;
    flex-wrap:wrap;
    text-align:center;
    font-family:Morris-Roman;
    text-decoration:underline;
}
.cart-item{/*This is the container for the actual items*/
    display:flex;
    height:fit-content;
    width:100%;
    flex-wrap:wrap;
}
.cart-segment-image_area{/*The part of the item that displays the image*/
    width:50%;
    align-items:center;
    flex-wrap:wrap;
}
.cart-segment-other{/*The two parts of the item that display quantity and price. You MUST create two of them, a single one does not handle both*/
    display:flex;
    width:25%;
    justify-content:center;
    flex-wrap:wrap;
    padding-top:5%;
}
.cart-item img{
    height:50px;
    width:50px;
}
.shopping-cart_totalp-title{/*This is used to help mold the "Total Price" title*/
    font-family:Morris-Roman;
    flex-wrap:wrap;
    float:left;
    padding-left:25%;

}
.shopping-cart_total-price{/*This is used to display the actual total price*/
    font-family:'Times New Roman',Times,serif;
    flex-wrap:wrap;
    float:right;
    padding-right:25%;
}
.shopping-cart label{
    font-family:Morris-Roman;
}
#price{/*This is an actual id tag used to target the prices in the items*/
    font-family:'Times New Roman',Times,serif;
}
.shopping-cart input{
    width:30px;
}


